@import "tailwindcss";
@import '@fontsource-variable/martian-mono';
@import "tw-animate-css";

:root {
  /* FONT FAMILY */
  --font-primary: 'Martian Mono Variable', mono;

  /* FONT WEIGHTS */
  --thin: 100;
  --extralight: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;

  /* COLOURS */
  --cactus: oklch(0.2912 0.0359 164.68);
  --monstera: oklch(0.37 0.0457 159.71);
  --sansiviera: oklch(0.4177 0.0605 151.95);
  --potus: oklch(0.85 0.2034 143.81);
  --mortar: oklch(0.48 0.0162 276.77);
  --cement: oklch(0.9298 0.0072 235.87);
  --lagoon: oklch(0.75 0.173 219.4);
  --white: oklch(1 0 0);
  --black: oklch(0 0 0);
}

/* stylelint-disable-next-line unknownAtRules */
@theme {
  --color-cactus: var(--cactus);
  --color-monstera: var(--monstera);
  --color-sansiviera: var(--sansiviera);
  --color-potus: var(--potus);
  --color-mortar: var(--mortar);
  --color-cement: var(--cement);
  --color-lagoon: var(--lagoon);
  --color-white: var(--white);
  --color-black: var(--black);
}

@layer base {
  * {

    h1,
    h2,
    h3,
    h4,
    h5 {
      text-transform: uppercase;
      font-weight: var(--regular);
    }

    h1 {
      font-size: var(--text-6xl);
      line-height: 1.2;
      letter-spacing: 2;
    }

    h2 {
      font-size: var(--text-4xl);
    }

    h3 {
      font-size: var(--text-2xl);
    }

    h4 {
      font-size: var(--text-lg);
    }

    h5 {
      font-size: var(--text-base);
    }

    h6 {
      font-size: var(--text-sm);
    }

    p {
      font-size: var(--text-xs);
    }

    strong {
      color: var(--potus);
      font-weight: var(--regular);
    }

  }

  body {
    font-family: var(--font-primary);
    font-weight: 400;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 3.5rem;
  }

  /* Medium screens and up (md:) */
  @media (min-width: 768px) {
    section {
      padding: 3rem;
    }
  }

  /* Large screens and up (lg:) */
  @media (min-width: 1024px) {
    section {
      flex-direction: row;
      padding: 2rem 4rem;
    }
  }


}